{% extends 'base.html.twig' %}

{% block titulo %}Agregar Categoria{% endblock titulo %}


{% block contenido %}
<h1>Ingreso de Categorias</h1>
        <form action="almacenar" method="POST">
        <table>
            
            <tr>
                <td>
                    <label>Nombre </label>
                </td>
                <td>
                    <input type="text" name="txtNombre" id="txtNombre" required>
                </td>
            </tr>
           
            <tr>
               
                <td>
                    <label>Descripcion </label>
                </td>
                <td>
                    <input type="text" name="txtDescripcion" id="txtDescripcion" required>
                </td>
            </tr>
            
            <tr>
                <!--comentario este td fue utilizado para que el boton quede al lado derecho-->
                <td></td>
                <td>
                    <input type="submit" value="Guardar" name="btnGuardar" id="btnGuardar">
                </td>
            </tr>
        </table>
         
        </form>
        <h3>{{ mensaje }}</h3>

{% endblock contenido %}